 <button (click)="reset()">Reset</button>
 <div class="grid grid-pad" *ngIf="!hasCustomerSelected">
  <a *ngFor="let cust of customers" class="col-1-4" (click)="selectCustomer(cust.id)">
    <div class="module customer">
      <h4>{{cust.name}}</h4>
    </div>
  </a>
 </div>

 <div *ngIf="hasCustomerSelected">
   <h4>Customer Selected: {{shoppingCart.customer?.name}}</h4>
 </div>

 <div *ngIf="showShoppingCart" class="col-4-4">
  <h4>Shopping Cart:</h4>
  <div class="shopping-cart">
    <div *ngFor="let ad of shoppingCart.advertisements; let i = index" class="shopping-cart-card">
      <span [ngClass]="{'information' : !showCheckout, 'informationCheckout': showCheckout}" class="information">{{ad.price}}, {{ad.name}}</span>
      <span class="delete-btn" *ngIf="!showCheckout" (click)="removeAdvertisement(i)">[delete]</span>
    </div>
  </div>
</div>

<div *ngIf="showShoppingCart && !showCheckout" class="col-1-4">
 <button (click)="checkout()">Checkout</button>
</div>

<div *ngIf="showCheckout" class="col-4-4">
  <h4>Total: ${{total}}</h4>
  <div *ngIf='appliedPromotions.length > 0'>
    <h4>Promotions:</h4>
    <ul *ngFor="let promotion of appliedPromotions">
      <li>{{promotion.description}}</li>
    </ul>
  </div>
</div>

 <div class="col-4-4" *ngIf="hasCustomerSelected && !showCheckout">
   <h4>Add Advertisement to Cart:</h4>
  <div (click)="addAdvertisement(advert.id)" class="col-1-4" *ngFor="let advert of advertisements" >
    <div class="module customer">
      <h4>{{advert.name}}</h4>
      <span>${{advert.price}}</span>
    </div>
   </div>
 </div>

